{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GJCLibrary</title>
    <script type="module" crossorigin src="{% static 'assets/index-_m0zKe4d.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'assets/index-CCHsnJ4O.css' %}">    
   </head>
  <body>
      <div id="root"></div>
      <script>
         document.addEventListener("DOMContentLoaded", function() {
            const button = document.querySelector("[data-drawer-toggle='cta-button-sidebar']");
            const sidebar = document.getElementById("cta-button-sidebar");
         
            button.addEventListener("click", function() {
                  sidebar.classList.toggle("-translate-x-full");
            });
         
            // Add event listener to close the sidebar when the close button inside the sidebar is clicked
            const closeButton = sidebar.querySelector("[data-drawer-toggle='cta-button-sidebar']");
            if (closeButton) {
                  closeButton.addEventListener("click", function() {
                     sidebar.classList.toggle("-translate-x-full");
                  });
            }

            // Close sidebar when clicking outside of it
               document.addEventListener("click", function(event) {
                  if (!sidebar.contains(event.target) && !button.contains(event.target)) {
                        sidebar.classList.add("-translate-x-full");
                  }
               });
            });
      </script>
   </body>
</html>