# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django settings file
.env

# Virtual environment
venv/
.env/

# IDE files
.idea/
.vscode/

# Database
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Log files
*.log

# Compiled Python files
*.pyc

# macOS
.DS_Store

# Newly added files
modified: .env
modified: db.sqlite3
modified: note/__pycache__/settings.cpython-310.pyc
modified: note/__pycache__/urls.cpython-310.pyc
