{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <title>GJCLibrary - Contacts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/font-awesome/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome/brands.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome/solid.min.css' %}">
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
</head>


<body>

  <button data-drawer-target="cta-button-sidebar" data-drawer-toggle="cta-button-sidebar" aria-controls="cta-button-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
      <span class="sr-only">Open sidebar</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
      </svg>
   </button>

   <!-- Navbar -->
 <header class="hidden md:block text-white py-4 px-6 w-full z-10">
    <div class="border-black flex items-center justify-between text-white">
    <h1 class="text-xl font-semibold">Home</h1>
    <a href="gjclibrary.com" class="hover:bg-green-700"><h1 class="text-xl font-semibold">Home</h1></a>
    <!-- Navbar Content -->
    </div>
 </header>
 
   
   <aside id="cta-button-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
      
    
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
       <ul class="space-y-2 font-medium">
          <li>
             <a href="add_book_success.php" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                   <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                   <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                </svg>
                <span class="ms-3">Home</span>
             </a>
          </li>
          <li>
             <a href="contacts.html" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                   <path d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"/>
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">Contacts</span>
                <span class="inline-flex items-center justify-center px-2 ms-3 text-sm font-medium text-gray-800 bg-gray-100 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span>
             </a>
          </li>
          <li>
             <a href="faqs.html" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                   <path d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="flex-1 ms-3 whitespace-nowrap">FAQs</span>
                <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
             </a>
          </li>
       </ul>
       <button data-drawer-target="cta-button-sidebar" data-drawer-toggle="cta-button-sidebar" aria-controls="cta-button-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
          <span class="sr-only">Close sidebar</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
          </svg>
       </button>
         <div id="dropdown-cta" class="p-4 mt-6 rounded-lg bg-blue-50 dark:bg-blue-900" role="alert">
            <div class="flex items-center mb-3">
               <span class="bg-orange-100 text-orange-800 text-sm font-semibold me-2 px-2.5 py-0.5 rounded dark:bg-orange-200 dark:text-orange-900">Beta</span>
               <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-blue-50 inline-flex justify-center items-center w-6 h-6 text-blue-900 rounded-lg focus:ring-2 focus:ring-blue-400 p-1 hover:bg-blue-200 h-6 w-6 dark:bg-blue-900 dark:text-blue-400 dark:hover:bg-blue-800" data-dismiss-target="#dropdown-cta" aria-label="Close">
                  <span class="sr-only">Close</span>
                  <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
               </button>
            </div>
            <p class="mb-3 text-sm text-blue-800 dark:text-blue-400">
               Preview of the GJC Library Mangement System, Thanks for visiting our website.
            </p>
            <a class="text-sm text-blue-800 underline font-medium hover:text-blue-900 dark:text-blue-400 dark:hover:text-blue-300" href="#">Thanks for subscribing on our newsletter.</a>
         </div>
      </div>
   </aside>
   
   <div class="p-4 sm:ml-64">
    <!-- Content -->
  <div class="text-white text-center">
    <a href="https://gjc-auth.vercel.app/auth/login" class="cursor-pointer md:hidden lg:hidden">
      <div class="rounded-md px-4 py-2 w-full lg:w-80 bg-green-500 hover:bg-green-700 focus:outline-none focus:bg-green-700 text-white text-center">
        <p class="font-bold text-2xl">GJC students can login now</p>
        <p>No hard process required. Connect anytime.</p>
      </div>
    </a>
    <p class="font-medium text-6xl">Contact us for any inquiry</p>
    <p class="text-2xl mt-6">+639 087 2345 234</p>
    <p class="text-2xl">+639 541 0000 234</p>
</div>
<div class="flex font-semibold space-x-1 justify-center mt-8">
    <button class="rounded-md px-4 py-2 bg-white hover:bg-green-500 focus:outline-none
     focus:bg-green-500">Link to our Gmail <i class="fas fa-arrow-right"></i></button>
    <button class="rounded-md px-4 py-2 bg-blue-700 hover:bg-blue-900 focus:outline-none
     focus:bg-blue-900 text-white">Link to our Facebook <i class="fas fa-arrow-right"></i></button>
</div>
<div class="mt-8">
    <span class="text-orange-400">For our beloved students: </span>
    <span class="text-white">"Spamming never pays off in the long run. Instead of cluttering inboxes and timelines, 
    let's focus on meaningful connections and valuable content. Respect others' digital space and contribute 
    positively to online communities. Quality over quantity always wins."</span>
    <p class="text-white font-semibold mt-4">Keep updated with our library resources <i class="fas fa-arrow-right"></i></p>
</div>
<div class="flex mt-2">
    <input type="email" placeholder="Email address" class="rounded-l-md px-8"><button class="rounded-r-md px-4 py-2
     bg-yellow-300 hover:bg-yellow-500 focus:outline-none focus:bg-yellow-500 font-semibold">Subscribe for 
     news</button>
     <button class="rounded-md px-4 py-2 bg-green-500 hover:bg-green-700 focus:outline-none
     focus:bg-green-700 text-white ml-4">Click here for more info <i class="fas fa-arrow-right"></i></button>
</div>
<div class="mt-7">
    <span class="text-orange-400">Did you know? </span>
    <span class="text-white">Everyday more and more students are reaching out this brand new platform. By
        subscribing to our newsletter, you can be one of them, GJC official student email is needed.
    </span>
</div>
<div class="static mt-7">
    <button class="rounded-t-md bg-teal-600 opacity-60 text-teal-600 px-4 pb-2">Send us a quick message</button>
    <span  class="ml-3 mt-2 absolute left-0 text-white ">Send us a quick message</span>
  </div>
  
  <div class="static">
    <div class="w-3/4 p-4 bg-teal-600 opacity-60 h-40">
    </div>
    <!-- <textarea class="absolute top-60 mt-1 ml-8 w-4/6 h-32 p-2 focus:outline-blue border-10 border-cyan-950" placeholder="Enter text here..."></textarea> -->
  </div>
  
  <div class="mt-7 grid grid-cols-1 lg:grid-cols-3 gap-4">
    <div class="flex justify-center">
      <a href="https://gjc-auth.vercel.app/auth/login" class="cursor-pointer">
        <div class="rounded-md px-4 py-2 w-full lg:w-80 bg-green-500 hover:bg-green-700 focus:outline-none focus:bg-green-700 text-white text-center">
          <p class="font-bold text-2xl">GJC students can login now</p>
          <p>No hard process required. Connect anytime.</p>
        </div>
      </a>
    </div>
    <div class="flex justify-center space-x-3">
      <button class="flex h-12 w-12 items-center justify-center rounded-full bg-red-500 text-white">
        <i class="fab fa-google"></i>
      </button>
      <button class="flex h-12 w-12 items-center justify-center rounded-full bg-blue-400 text-white">
       <i class="fab fa-twitter"></i>
    </button>
    <button class="flex h-12 w-12 items-center justify-center rounded-full bg-blue-700 text-white">
       <i class="fab fa-facebook"></i>
    </button>
    
    <button class="flex h-12 w-12 items-center justify-center rounded-full bg-black text-white">
       <i class="fab fa-github"></i>
    </button>
    </div>
  </div>
  
    
   
 </div>

    
 </div>
   
   <script>
    document.addEventListener("DOMContentLoaded", function() {
        const button = document.querySelector("[data-drawer-toggle='cta-button-sidebar']");
        const sidebar = document.getElementById("cta-button-sidebar");
    
        button.addEventListener("click", function() {
            sidebar.classList.toggle("-translate-x-full");
        });
    
        // Add event listener to close the sidebar when the close button inside the sidebar is clicked
        const closeButton = sidebar.querySelector("[data-drawer-toggle='cta-button-sidebar']");
        if (closeButton) {
            closeButton.addEventListener("click", function() {
                sidebar.classList.toggle("-translate-x-full");
            });
        }

       // Close sidebar when clicking outside of it
          document.addEventListener("click", function(event) {
             if (!sidebar.contains(event.target) && !button.contains(event.target)) {
                   sidebar.classList.add("-translate-x-full");
             }
          });
       });
    </script>
    
</body>
</html>